<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                Title
            </div>
            <div class="card-block">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" required name="title" aria-describedby="titlelHelp" placeholder="Shot Sleeve T-Shirt"
                            ngModel #title="ngModel" />
                    </div>
                    <div class="form-group">
                        <label for="rpi">RPI Part</label>
                        <input type="text" class="form-control" id="rpi" name="rpi" aria-describedby="rpiHelp" placeholder="#GOD018" ngModel #rpi="ngModel"
                        />
                    </div>
                    <div class="form-group">
                        <label for="oem">OEM Part</label>
                        <input type="text" class="form-control" id="oem" name="oem" aria-describedby="oemHelp" placeholder="#01-90-3108" ngModel
                            #oem="ngModel" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <!--Description-->
                        <div class="card">
                            <div class="toolbar" id="toolbar-toolbar">
                                <span class="ql-formats">
                                <select class="ql-font">
                                <option selected=""></option>
                                <option value="serif"></option>
                                <option value="monospace"></option>
                                </select>
                                <select class="ql-size">
                                <option value="small"></option>
                                <option selected=""></option>
                                <option value="large"></option>
                                <option value="huge"></option>
                                </select>
                                </span>
                                <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                <select class="ql-align">
                                <option selected=""></option>
                                <option value="center"></option>
                                <option value="right"></option>
                                <option value="justify"></option>
                                </select>
                                </span>
                                <span class="ql-formats">
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                                </span>
                            </div>
                            <div id="editor-container">

                            </div>
                        </div>
                        <!--endDescription-->
                    </div>
                    <div class="form-group">
                        <label for="descriptionupdated">Part Description Updated</label>
                        <input type="date" class="form-control" id="descriptionupdated" name="descriptionupdated" aria-describedby="descriptionupdatedHelp"
                            ngModel #descriptionupdated="ngModel" />
                    </div>
                    <div class="form-group">
                        <label for="images">Images</label>
                        <input type="file" class="form-control-file" id="images" aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted">Upload Image.</small>
                    </div>
                    <div class="form-group">
                        <label for="vendor">Vendor</label>
                        <input type="text" class="form-control" id="vendor" aria-describedby="vendorlHelp" name="vendor" placeholder="Kevin" ngModel
                            #vendor="ngModel" />
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" id="price" aria-describedby="pricelHelp" min="0" placeholder="$0.00" name="price"
                            ngModel #price="ngModel" />
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <input type="text" class="form-control" id="type" aria-describedby="typeHelp" placeholder="Shirts" name="type" ngModel #type="ngModel"
                        />
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <input type="text" class="form-control" id="tags" aria-describedby="tagslHelp" placeholder="Vintage, cotton, summer" name="tags"
                            ngModel #tags="ngModel" />
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>