<!-- Create toolbar container -->
<div class="loading"> <img src="../assets/loading.gif" width="50" /></div>
<div class="container margin_top">

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" name="uri" id="uri" class="uri" />
      </div>
      <div class="form-group">
        <button class="btn btn-outline-primary" (click)="getUrl()">Get Data</button>
      </div>
    </div>
  </div>
  <!--<iframe [src]="url + testRequestId | safe" width="100%" height="500" name="iframe" allowfullscreen id="content_url" SAMEORIGIN></iframe>-->
  <!-- 
  <div class="row">
    <div class="col-md-12">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <textarea ngModel name="description" #description="ngModel" class="insert_html" rows="20"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-success" [disabled]="f.invalid">Process</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="description">Description</label>
        <div id="toolbar">
          <span class="ql-formats">
            <select class="ql-font">
            <option selected=""></option>
            <option value="serif"></option>
            <option value="monospace"></option>
            </select>
            <select class="ql-size">
            <option value="small"></option>
            <option selected=""></option>
            <option value="large"></option>
            <option value="huge"></option>
            </select>
            </span>
          <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
            </span>
          <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
            </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <select class="ql-align">
            <option selected=""></option>
            <option value="center"></option>
            <option value="right"></option>
            <option value="justify"></option>
            </select>
            </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            </span>
        </div>
        <div id="editor">
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-success" (click)="process()">Process</button>
      </div>
    </div>
  </div>-->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="alert alert-success alert-dismissible fade show meesage_close" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
        </button>
          <strong>ok!</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="result" [innerHTML]="array"></div>
      </div>
    </div>
  </div>
  <div class="row" style="display:none">
    <div id="content_html"></div>
  </div>
  <div *ngIf="collection == null ;then content else other_content">here is ignored</div>
  <ng-template #content>
    <div class="row image_loading">
      <div class="col-md-12 text-center">
        <img src="../assets/loading.gif" width="50" />
      </div>
    </div>
  </ng-template>
  <ng-template #other_content>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>PartsFit</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Collections:{{collection.length}}</h3>
        <div *ngFor="let collect of collection; let i = index" [attr.data-index]="i">
          <a class="text">{{collect}}</a>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Sub Collections:{{subcollection.length}}</h3>
        <div *ngFor="let subcollect of subcollection; let i= index" [attr.data-index]="i">
          <a class="text">{{subcollect}}</a>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Links:{{linkSubCollection.length}}</h3>
        <div *ngFor="let linksubcollect of linkSubCollection; let i= index" [attr.data-index]="i">
          <a class="text" href="{{linksubcollect}}" target="_blank">{{linksubcollect}}</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>PartsList</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3> Title sub Links:</h3>
        <div *ngFor="let subcollectNivel1 of subcollectionNivel1; let i= index" [attr.data-index]="i">
          <div *ngFor="let cln1 of subcollectNivel1; let i= index" [attr.data-index]="i">
            <a class="text">{{cln1}}</a>
          </div>
          <hr>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Sub Links: #{{linkSubCollectionNivel1.length}} Total : {{countSubLink}}</h3>
        <div *ngFor="let linkSubCollectnNivel1 of linkSubCollectionNivel1; let i= index" [attr.data-index]="i">
          <div *ngFor="let lcln1 of linkSubCollectnNivel1; let i= index" [attr.data-index]="i">
            <a class="text" href="{{lcln1}}" target="_blank">{{lcln1}}</a>
          </div>
          <hr>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Tags: {{tags.length}} de {{countSubLink}}</h3>
        <div *ngFor="let tag of tags; let i= index" [attr.data-index]="i">
          <a class="text tag">{{tag[0]}}</a>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>ProductList</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3> RPI:</h3>
        <div *ngFor="let rpiproduct of rpi; let i= index" [attr.data-index]="i">
          <div *ngFor="let view of rpiproduct; let i= index" [attr.data-index]="i">
            <a class="text">{{view}}</a>
          </div>
          <hr>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Link RPI: #{{linkRpi.length}} Total: {{countSubLinkRpi}}</h3>
        <div *ngFor="let linkRpiProduct of linkRpi; let i= index" [attr.data-index]="i">
          <div *ngFor="let view of linkRpiProduct; let i= index" [attr.data-index]="i">
            <a class="text" href="{{view}}" target="_blank">{{view}}</a>
          </div>
          <hr>
        </div>
      </div>

    </div>
  </ng-template>
</div>