.insert_html{
width: 100%;
}
.margin_top{
margin-top: 60px;
}
.uri{
width: 100%;
}
.meesage_close{
display: none;
}

.text{
font-size: 9.5px;
}
.loading{
position: fixed;
top: 15px;
right: 15px;
display: none;
}
.tag{
font-size: 8px;
}
.container {
width: 1600px;
}