<!-- Create toolbar container -->
<div class="container margin_top">

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" name="uri" id="uri" class="uri" />
      </div>
      <div class="form-group">
        <button class="btn btn-outline-primary" (click)="getUrl()">Get Data</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <textarea ngModel name="description" #description="ngModel" class="insert_html" rows="20"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-success" [disabled]="f.invalid">Process</button>
        </div>
      </form>
    </div>
  </div>
  <!-- 
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="description">Description</label>
        <div id="toolbar">
          <span class="ql-formats">
            <select class="ql-font">
            <option selected=""></option>
            <option value="serif"></option>
            <option value="monospace"></option>
            </select>
            <select class="ql-size">
            <option value="small"></option>
            <option selected=""></option>
            <option value="large"></option>
            <option value="huge"></option>
            </select>
            </span>
          <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
            </span>
          <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
            </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <select class="ql-align">
            <option selected=""></option>
            <option value="center"></option>
            <option value="right"></option>
            <option value="justify"></option>
            </select>
            </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            </span>
        </div>
        <div id="editor">
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-success" (click)="process()">Process</button>
      </div>
    </div>
  </div>-->

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="result" [innerHTML]="array"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="content_html"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div id="data">
          {{data}}</div>
      </div>
    </div>
  </div>
</div>